@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* colors */
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);

    --brown800: hsl(14, 45%, 36%);

    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);

    /* fonts */
    --paragraph: 16px;
    --family1: "Young serif", serif;
    --family2: "Outfit", sans-serif;
}